<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_URI} $
RewriteRule (.*)$ index.php?__req__url=$1 [QSA]
Header add Access-Control-Allow-Origin: "*"
Header add Access-Control-Allow-Methods: "GET,POST,DELETE,PUT"
Header always set Access-Control-Allow-Headers: "DNT,Authorization,content-type,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,C$
Header always set Access-Control-Allow-Credentials true
</IfModule>


